@media(min-width: 768px){
    .nav-desktop{
        display: block;
        ul{
            list-style: none;
            display: flex;
            gap: 1.5rem;
            a{
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1rem;
                    &:hover{
                        text-decoration: under;
                        color:#ccc;
                    }
            }
        }
    }
    .nav-mobile{
        display: none;
    }
}

