nav.nav-mobile{
    width:100%;
    & .nav-mobile__menu{
        display: none;
    }
    &.isOpen{
       & ul.nav-mobile__menu{
        margin-top:-2rem;
        background-color:#0c2074;
        width:100%;
        padding:2rem 4rem;
         display: block;
         list-style: none;
         li{
             line-height: 2;
            a{
                color:#fff;
                font-weight: bold;
                text-decoration: none;
            }
         }
         
       }
    }
}